cloudinary==1.30.0
fastapi==0.85.1
numpy==1.23.4
opencv-python==4.6.0.66
Pillow==9.3.0
pydantic==1.10.2
python-dotenv==0.21.0
qrcode==7.3.1
uvicorn==0.19.0
sqlalchemy==1.4.42
yarl==1.8.1
pre-commit==2.20.0
mypy==0.982
isort==5.10.1
flake8==5.0.4
black==22.10.0
requests==2.28.1
aiosqlite==0.17.0
pytest==7.2.0
asyncpg==0.27.0
